CONTENT_SOURCE=local

CONTENTFUL_SPACE_ID=
CONTENTFUL_ENVIRONMENT=master
CONTENTFUL_DELIVERY_TOKEN=
CONTENTFUL_PREVIEW_TOKEN=
CONTENTFUL_MANAGEMENT_TOKEN=
CONTENTFUL_WEBHOOK_SECRET=

POSTMARK_API_TOKEN=
POSTMARK_FROM_EMAIL=hello@shrutiturner.com
